.AllMoviesSections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
}

.moviePoster {
  border-radius: 10px;
}

.moviePoster:hover {
  box-shadow: 0 0 15px #848484;
  transform: scale(1.1);
}

.MoviesSections {
  margin-bottom: 50px;
}
.ActorProfile:hover {
  box-shadow: 0 0 15px #848484;
  transform: scale(1.1);
}
.ActorProfile {
  border-radius: 10px;
}
.MainImage {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  margin-top: 30px;
}

/* .Details{
    display:flex;
    flex-direction:row;
    margin-left: 50px;;
    border: solid;
} */

.Description {
  justify-self: flex-start;
  width: 500px;
}

.Countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 500px;
  margin-bottom: 80px;
  color: white;
}

.TimeCountdown {
  display: flex;
  flex-direction: row;
}

.Time {
  padding: 30px;
  border-radius: 15px;
  background-color: rgba(143, 143, 143, 0.246);
  border: solid rgba(0, 0, 0, 0.572);
}

#day,
#hour,
#minute,
#seconde {
  color: white;
}

#secondeTime {
  box-shadow: 15px 15px rgba(0, 0, 0, 0.477);
}
#minuteTime,
#hourTime,
#dayTime {
  box-shadow: 0px 15px rgba(0, 0, 0, 0.477);
}
